<% content_for :title, "Members" %>

<% content_for :search_area do %>
  <form method="get" action="<%= users_path %>">
    <div class="input-group ">
      <input name="q" value="<%= params[:q] %>" class="form-control" type="text" placeholder="Search name or email" />
      <div class="input-group-append">
        <input class="btn btn-primary rounded-right" type="submit" value="Go"></input>
      </div>
    </div>
    <% if params[:q] %>
      <a class="small" href="<%= users_path %>">Clear Search</a>
    <% end %>
  </form>
<% end %>

<% content_for :breadcrumbs do %>
  <%= crumb "Members", active: true %>
<% end %>

<% if params[:a] == "signoff" %>
  <div class="alert alert-primary" role="alert">
    To edit a user's signoffs click on the member name then choose "Edit Sign-offs."
  </div>
<% elsif params[:a] == "googleworkspace" %>
  <div class="alert alert-primary" role="alert">
    To add a Google Workspace account click on the member name then choose "Create Google Workspace Account"
  </div>
<% end %>


<div class="row">
  <div class="col">
    <table class="table align-middle">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Membership</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |member| %>
          <tr>
            <td><%= link_to member.name, user_path(member) %></td>
            <td><%= member.membership_level_name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @users, params: {q: params[:q]} %>
  </div>
</div>
