<% content_for :title, "Members" %>

<% content_for :search_area do %>
  <form method="get" action="<%= users_path %>">
    <input name="q" value="<%= params[:q] %>" class="form-control" type="text" placeholder="Search by name or email" />
    <% if params[:q] %>
      <a class="small" href="<%= events_path %>">Clear Search</a>
    <% end %>
  </form>
<% end %>

<% content_for :breadcrumbs do %>
  <%= crumb "Members", active: true %>
<% end %>


<div class="row">
  <div class="col">
    <table class="table align-middle">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <% if current_user.signoffer? %>
            <th scope="col">Email</th>
          <% end %>
          <th scope="col">Membership</th>
          <% if current_user.signoffer? %>
            <th scope="col">Actions</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |member| %>
          <tr>
            <td><%= member.uid %></td>
            <td><%= link_to member.name, user_path(member) %></td>
            <% if current_user.signoffer? %>
              <td><%= member.email %></td>
            <% end %>
            <td><%= member.membership_level_name %></td>
            <% if current_user.signoffer? %>
              <td>
                <%= link_to "Edit Sign-offs", edit_user_signoffs_path(member) %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @users, params: {q: params[:q]} %>
  </div>
</div>
