<% content_for :title, "Member: #{@user.name}" %>

<% content_for :breadcrumbs do %>
  <%= crumb "Members", to: users_path %>
  <%= crumb @user.name, active: true %>
<% end %>

<%= render "shared/flash" %>

<div class="row">
  <div class="col">
    <div class="card mb-4">
      <div class="card-header py-3 d-flex align-items-center">
        <img src="<%= gravatar_url(@user) %>" class="rounded-circle align-self-start me-3" style="height:60px;width:60px;background-color:grey;">
        <h5 class="card-title mb-0">
          <%= @user.name %>
        </h5>
      </div>
      <ul class="list-group list-group-flush">
        <% if @user.youth? %>
          <li class="list-group-item">
            <span class="float-end">
              This member is a minor
            </span>
            <%= youth_badge @user %>
          </li>
        <% end %>
        <li class="list-group-item">
          <span class="float-end"><%= @user.first_name %></span>
          First Name
        </li>
        <li class="list-group-item">
          <span class="float-end"><%= @user.last_name %></span>
          Last Name
        </li>
        <li class="list-group-item">
          <span class="float-end">
            <%= @user.membership_level_name %>
            <% unless @user.membership_enabled %>
              <span class="badge badge-danger bg-danger">Disabled</span>
            <% end %>
          </span>
          Membership Level
        </li>
        <% if @user.archived? %>
          <li class="list-group-item">
            ðŸ’€ Is is archived
          </li>
        <% end %>
        <% if @user.account_administrator? %>
          <li class="list-group-item">
            ðŸ˜± Is an account administrator
          </li>
        <% end %>
        <% if @user.admin? %>
          <li class="list-group-item">
            ðŸŽ‰  Is an admin
          </li>
        <% end %>
        <% if @user.signoffer? %>
          <li class="list-group-item">
            ðŸ’ª Is a sign-offer
          </li>
        <% end %>
      </ul>
    </div>

    <% if current_user.signoffer? %>
      <div class="card bg-danger mb-4">
        <div class="card-header text-white ">
          Admin
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span class="float-end"><%= @user.email %></span>
            Email
          </li>
          <li class="list-group-item">
            <span class="float-end"><%= @user.phone%></span>
            Phone
          </li>
          <li class="list-group-item">
            <span class="float-end"><%= @user.secondary_email %></span>
            Secondary Member Email
          </li>
          <li class="list-group-item">
            <span class="float-end"><%= @user.birthdate&.to_date || "N/A" %></span>
            Birthdate
          </li>
          <li class="list-group-item">
            <span class="float-end"><%= @user.updated_at %></span>
            Last Updated
          </li>
          <li class="list-group-item">
            <span class="float-end"><%= @user.uid%></span>
            Wild Apricot ID
          </li>
          <li class="list-group-item">
            <span class="float-end"><%= @user.badge_number || "None" %></span>
            <%= link_to "Badge Number", edit_user_field_path(@user, Field.badge_number) %>
          </li>
          <li class="list-group-item">
            <span class="float-end"><%= @user.door_access_group || "None" %></span>
            <%= link_to "Door Access Group", edit_user_field_path(@user, Field.door_access_group) %>
          </li>
          <li class="list-group-item">
            <%= link_to "Edit Sign-offs", edit_user_field_path(@user, Field.signoffs) %>
          </li>
          <% unless @user.has_google_workspace_account? %>
            <li class="list-group-item">
              <%= link_to "Create Google Workspace Account", user_onboarding_path(@user) %>
            </li>
          <% end %>
          <% if current_user.account_administrator? %>
            <li class="list-group-item">
              <%= link_to "View on Member Portal", wa_contact_admin_url(@user) %>
            </li>
          <% end %>
          <li class="list-group-item">
            <%= form_for @user, url: user_sync_url(@user) do |f| %>
              <a href="#" onclick="this.closest('form').submit(); return false;">Re-sync from Portal</a>
            <% end %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="col-md">

    <% if @user.age_category != :adult %>
  <div class="card border-warning mb-3">
    <div class="card-header bg-warning text-dark fw-bold">
      Youth Supervision &amp; Tool Use
    </div>
    <div class="card-body">
      <p class="card-text">
        For <%= youth_badge @user %> members:
      <p class="card-text">
        <%= case @user.age_category
            when :under_8
              "âš ï¸ Children under 8 are not allowed to enter the shops."
            when :age_8_to_11
              "Parent/Guardian must be in sight and able to physically assist immediately."
            when :age_12_to_15
              "Parent/Guardian must be in sight while on-site."
            when :age_16_to_17
              "Parent/Guardian must remain on-site but doesn't need to be in sight."
            end
        %>
      </p>
      <p class="card-text">
        <%= case @user.age_category
            when :under_8
            when :age_8_to_11
              "May use GREEN tools with Certified Adult supervision. YELLOW and RED tools are observe-only."
            when :age_12_to_15
              "May use GREEN tools with supervision, YELLOW with all sign-offs and supervision. RED is observe-only."
            when :age_16_to_17
              "May use GREEN and YELLOW tools independently with proper sign-offs. RED requires Certified Adult supervision."
            end
        %>
      </p>
      <p class="card-text">
      These rules are governed by the minor policy, there may be exceptions.
      Please refer to <a
      href="https://www.notion.so/novalabs/Minor-Child-of-Member-MCoM-cd37f4b12c0845ac8cd99341174f4520#71b4b6effa804936a0c77472c9498d02">Minor Child
      of Member</a> for details.
      </p>
    </div>
  </div>
<% end %>


    <div class="card mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        Sign-offs and Categories
        <% if current_user.signoffer? %>
          <%= link_to "Edit Sign-offs", edit_user_field_path(@user, Field.signoffs), class: "btn btn-sm btn-danger" %>
        <% end %>
      </div>
      <% unless @signoffs.empty? %>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <% @signoffs.each do |field_value| %>
                <tr>
                  <td scope="row">
                    <%= user_field_value_badge(field_value) %>
                  </td>
                  <td class="w-100"><%= field_value.name %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        <div class="card-body">
          None yet!
        </div>
      <% end %>
    </div>
  </div>

</div>
