<% content_for :title, "Member: #{@user.name}" %>

<% content_for :breadcrumbs do %>
  <%= crumb "Members", to: users_path %>
  <%= crumb @user.name, active: true %>
<% end %>

<%= render "shared/flash" %>

<div class="row">
  <div class="col">
    <div class="card mb-4">
      <div class="card-header py-3 d-flex align-items-center">
        <img src="<%= gravatar_url(@user) %>" class="rounded-circle align-self-start me-3" style="height:60px;width:60px;background-color:grey;">
        <h5 class="card-title mb-0">
          <%= @user.name %>
        </h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <span class="float-end"><%= @user.first_name %></span>
          First Name
        </li>
        <li class="list-group-item">
          <span class="float-end"><%= @user.last_name %></span>
          Last Name
        </li>
        <li class="list-group-item">
          <span class="float-end">
            <%= @user.membership_level_name %>
            <% unless @user.membership_enabled %>
              <span class="badge badge-danger bg-danger">Disabled</span>
            <% end %>
          </span>
          Membership Level
        </li>
        <% if @user.archived? %>
          <li class="list-group-item">
            💀 Is is archived
          </li>
        <% end %>
        <% if @user.account_administrator? %>
          <li class="list-group-item">
            😱 Is an account administrator
          </li>
        <% end %>
        <% if @user.admin? %>
          <li class="list-group-item">
            🎉  Is an admin
          </li>
        <% end %>
        <% if @user.signoffer? %>
          <li class="list-group-item">
            💪 Is a sign-offer
          </li>
        <% end %>
      </ul>
    </div>
    <% if current_user.signoffer? %>
      <div class="card bg-danger mb-4">
        <div class="card-header text-white ">
          Admin
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span class="float-end"><%= @user.email %></span>
            Email
          </li>
          <li class="list-group-item">
            <span class="float-end"><%= @user.phone%></span>
            Phone
          </li>
          <li class="list-group-item">
            <span class="float-end"><%= @user.secondary_email %></span>
            Secondary Member Email
          </li>
          <li class="list-group-item">
            <span class="float-end"><%= @user.updated_at %></span>
            Last Updated
          </li>
          <li class="list-group-item">
            <span class="float-end"><%= @user.uid%></span>
            Wild Apricot ID
          </li>
          <li class="list-group-item">
            <span class="float-end"><%= @user.badge_number || "None" %></span>
            <%= link_to "Badge Number", edit_user_field_path(@user, Field.badge_number) %>
          </li>
          <li class="list-group-item">
            <span class="float-end"><%= @user.door_access_group || "None" %></span>
            <%= link_to "Door Access Group", edit_user_field_path(@user, Field.door_access_group) %>
          </li>
          <li class="list-group-item">
            <%= link_to "Edit Sign-offs", edit_user_field_path(@user, Field.signoffs) %>
          </li>
          <% unless @user.has_google_workspace_account? %>
            <li class="list-group-item">
              <%= link_to "Create Google Workspace Account", user_onboarding_path(@user) %>
            </li>
          <% end %>
          <% if current_user.account_administrator? %>
            <li class="list-group-item">
              <%= link_to "View on Member Portal", wa_contact_admin_url(@user) %>
            </li>
          <% end %>
          <li class="list-group-item">
            <%= form_for @user, url: user_sync_url(@user) do |f| %>
              <a href="#" onclick="this.closest('form').submit(); return false;">Re-sync from Portal</a>
            <% end %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="col-md">
    <div class="card mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        Sign-offs and Categories
        <% if current_user.signoffer? %>
          <%= link_to "Edit Sign-offs", edit_user_field_path(@user, Field.signoffs), class: "btn btn-sm btn-danger" %>
        <% end %>
      </div>
      <% unless @signoffs.empty? %>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <% @signoffs.each do |field_value| %>
                <tr>
                  <td scope="row">
                    <%= user_field_value_badge(field_value) %>
                  </td>
                  <td class="w-100"><%= field_value.name %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        <div class="card-body">
          None yet!
        </div>
      <% end %>
    </div>
  </div>

</div>
