<% content_for :title, "Member Onboarding" %>
<p>
Create a new user in Google Workspace via an Integromat integration.
</p>
<% content_for :breadcrumbs do %>
  <%= crumb "Members", to: users_path %>
  <%= crumb @user&.name, to: user_path(@user) %>
  <%= crumb "Onboarding", active: true %>
<% end %>

<div class="row">
  <div class="">
    <%= form_for :member, url: user_onboarding_path(@user) do |form| %>
      <%= render "shared/flash" %>
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-user me-1"></i>
          New Google Workspace User
        </div>

        <div class="card-body">
          <div class="row">
            <div class="mb-3 col-md">
              <label class="form-label" for="fname">First Name</label>
              <input value="<%= @user&.first_name %>" class="form-control" type="text" id="fname" name="fname" placeholder="First Name" required>
            </div>
            <div class="mb-3 col-md">
              <label class="form-label" for="lname">Last Name</label>
              <input value="<%= @user&.last_name %>" class="form-control" type="text" id="lname" name="lname" placeholder="Last Name" required>
            </div>
          </div>

          <div class="row">
            <div class="mb-3 col-md">
              <label class="form-label" for="tel">Telephone Number</label>
              <input value="<%= @user&.phone %>" class="form-control" type="tel" id="tel" name="tel" placeholder="XXX-XXX-XXXX" required>
            </div>
            <div class="mb-3 col-md">
              <label class="form-label" for="wa_id">Wild Apricot ID</label>
              <input value="<%= @user&.uid %>" class="form-control" type="text" id="wa_id" name="wa_id" placeholder="Member ID" required>
            </div>
          </div>

          <div class="row">
            <div class="mb-3 col-md">
              <label class="form-label" for="email">Personal Email</label>
              <input value="<%= @user&.email %>" class="form-control" type="email" id="email" name="email" placeholder="user@example.com" required>
            </div>
            <div class="col-md">
              <label class="form-label" for="gmail">New Google Workspace Email</label>
              <div class="input-group">
                <input value="<%= [@user&.first_name, @user&.last_name].compact.join('.').downcase %>" type="text" class="form-control" placeholder="first.last" id="gmail" name="gmail" pattern="^.[^@]*$" title="Letters, numbers, and dots only, no special characters." required>
                <div class="input-group-text" id="btnGroupAddon">@nova-labs.org</div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <%= form.submit "Submit",  class: "btn btn-primary"  %>
        </div>
      </div>
    <% end  %>
  </div>
</div>
