<% content_for :title, "Events" %>

<% content_for :search_area do %>
  <form method="get" action="<%= events_path %>">
    <div class="input-group ">
      <input name="q" value="<%= params[:q] %>" class="form-control" type="text" placeholder="Search event title" />
      <div class="input-group-append">
        <input class="btn btn-primary rounded-right" type="submit" value="Go"></input>
      </div>
    </div>
    <input type="checkbox" class="form-field small" name="past" id="past" value="true" <%= "checked" if params[:past] == "true" %> >
    <label for="past" class="small">Include Old Events</label>
    <% if params[:q] %>
      <a class="small" href="<%= events_path %>">Clear Search</a>
    <% end %>
  </form>
<% end %>

<% content_for :breadcrumbs do %>
  <%= crumb "Events", active: true %>
<% end %>

<%= render "shared/flash" %>

<div class="container">
<% if params[:past] == "true" %>
  <div class="alert alert-info alert-dismissible fade show small" role="alert">
    You’re searching old events.
    <%= link_to "Click here to clear.", events_path, class: "alert-link" %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

  <% @events.each do |event| %>
    <div class="row border-bottom py-3 align-items-center">
      <!-- Name and Link -->
      <div class="col-12 col-md-6">
        <h6 class="mb-1">
          <%= link_to event.name, event, class: "text-decoration-none fw-bold" %>
        </h6>
        <p class="mb-0 small text-muted d-none d-md-block">
        Event ID: <%= event.uid %>
        </p>
      </div>

      <!-- Location -->
      <div class="col-6 col-md-3">
        <span class="text-muted small">Location</span><br>
        <%= display_location(event.location) %>
      </div>

      <!-- Start Date -->
      <div class="col-6 col-md-3">
        <span class="text-muted small">Start Date</span>
        <% if event.start_date.to_date < Date.current %>
          <span class="badge bg-secondary ms-2">Past</span>
        <% end %>
        <br>
        <%= display_date(event.start_date) %>
      </div>
    </div>
  <% end %>

  <!-- Pagination -->
  <div class="mt-4">
    <%= paginate @events, params: { q: params[:q] } %>
  </div>
</div>

