<% content_for :title, "Members Admin" %>

<% content_for :breadcrumbs do %>
  <%= crumb "Admin", to: admin_path %>
  <%= crumb "Members", active: true %>
<% end %>

<div class="table-responsive">
  <table class="table align-middle">
    <thead>
      <tr>
        <th scope="col" class="d-none d-sm-table-cell">#</th>
        <th scope="col">Name</th>
        <th scope="col">email</th>
        <th scope="col">Admin</th>
        <th scope="col">Account Administrator</th>
        <th scope="col">Membership</th>
      </tr>
    </thead>
    <tbody>

      <% @users.each do |user| %>
        <tr>
          <td class="d-none d-sm-table-cell"><%= user.uid %></td>
          <td><a href="<%= admin_user_path(user) %>"><%= user.name %></a></td>
          <td><%= user.email %></td>
          <td><%= user.admin %></td>
          <td><%= user.account_administrator %></td>
          <td><%= user.membership_level_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
